.infoblock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 80px;
	align-items: center;
	margin-bottom: 100px;
	
	h2 { margin-bottom: 40px; }
	.button {
		display: inline-flex;
		align-items: center;
		column-gap: 15px;
		padding: 10px 30px;
		background: rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		margin-top: 40px;
		img { width: 40px; }
	}
	> img {
        width: 100%;
        border-radius: 20px;
		opacity: 0.8;
    }
	p a {
		text-decoration: underline;
		text-underline-offset: 0.12em;
	}
	@media only screen and (max-width: $breakpoint-tablet) {
		h2 { margin-bottom: 20px; }
		.button {
			padding: 7px 25px;
			img { width: 35px; }
		}
	}
	@media only screen and (max-width: $breakpoint-mobile) {
		display: flex;
		flex-direction: column;
		.button {
			margin-top: 10px;
			column-gap: 10px;
			img { width: 30px; }
		}
		h2 { margin-bottom: 10px; }
		> img {
			margin-top: 50px;
			width: 100%;
		}
	}
}