.infoblock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 80px;
	align-items: center;
	margin-bottom: 100px;
	
	h2 { margin-bottom: 40px; }
	a {
		display: inline-flex;
		align-items: center;
		column-gap: 15px;
		padding: 10px 30px;
		background: rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		margin-top: 40px;
		img { width: 40px; }
	}
	> img {
        width: 100%;
        border-radius: 20px;
		opacity: 0.8;
    }
	@media only screen and (max-width: $breakpoint-tablet) {
		h2 { margin-bottom: 20px; }
		a { padding: 7px 25px; }
	}
	@media only screen and (max-width: $breakpoint-mobile) {
		display: flex;
		flex-direction: column;
		a { margin-top: 10px; }
		h2 { margin-bottom: 10px; }
		> img {
			margin-top: 50px;
			width: 100%;
		}
	}
}