/* -------------------------------------------------------------------------- */
/*                          Identity Color Definition                         */
/* -------------------------------------------------------------------------- */
// Text colors
$text_primary: #FFFFFF; // old rgba(255, 255, 255, 0.87); 
$text_secondary: #373737; // old rgba(255, 255, 255, 0.60);


// Background colors
$white: #FFFFFF;
$gray: #373737;
$accent_pink: #EE66A3;
$darker_pink: #BE5282;
$brown: #E3B381;

/* -------------------------------------------------------------------------- */
/*                                  Scrollbar                                 */
/* -------------------------------------------------------------------------- */

::-webkit-scrollbar { width: 0.3vw; }
::-webkit-scrollbar-track { background: $accent_pink; }
::-webkit-scrollbar-thumb { background: $white; }

/* -------------------------------------------------------------------------- */
/*                                  Background                                */
/* -------------------------------------------------------------------------- */
body { background: linear-gradient($brown 0.01%, $darker_pink 0.011%); }
html { background-color: $brown;}

/* -------------------------------------------------------------------------- */
/*                                   Selection                                */
/* -------------------------------------------------------------------------- */
::selection { background: rgba(0, 0, 0, 0.20); }
::-moz-selection { background: rgba(0, 0, 0, 0.20); }