/* -------------------------------------------------------------------------- */
/*                                  CSS Reset                                 */
/* -------------------------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html,
#__next {
    width: 100%;
    top: 0;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
}
#__next {
    max-width: 1600px;
    overflow: visible !important;
}