// Import identity
@import "design-system/css-setup";
@import "design-system/colors";
@import "design-system/typography";

// Components
@import "components/header";
@import "components/loading";
@import "components/infoblock";

$animation_delay: 5s;
@keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}
.animation-element {
	opacity: 0;
	animation-name: opacity;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.content { padding: 100px; }
@media only screen and (max-width: $breakpoint-tablet) { .content { padding: 50px; } }

section { margin-bottom: 250px; }

.hero {
	// Animation
	@extend .animation-element;
	animation-delay: $animation_delay;

	// Self
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 50px;
	height: calc(100vh - 100px);

	p {
		font-size: 28px;
		width: 35ch;
	}
	.illustration {
		margin-right: -200px;
		img { width: 100%; }
	}
	@media only screen and (max-width: $breakpoint-desktop-small) {
		p { font-size: 24px; }
		column-gap: 30px;
	}
	@media only screen and (max-width: $breakpoint-tablet) {
		height: calc(100vh - 50px);
		p { font-size: 20px; }
		.illustration img { width: 90%; }
	}
}

.team {
	.members {
		// Self
		display: grid;
		position: relative;
		grid-template-columns: repeat(3, 1fr);
		gap: 80px 60px;

		.member {
			position: relative;
			text-align: center;
			.photo {
				border-radius: 100%;
				width: 100%;
				opacity: 0.85;
			}
			.name {
				@extend .font-weight-600;
				font-size: 32px;
			}
			.socials {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				aspect-ratio: 1;
				border-radius: 100%;
				background: linear-gradient(-45deg, rgba(0, 0, 0, 0.55) 15%, rgba(0, 0, 0, 0) 70%);
				img {
					width: 40px;
					height: 40px;
				}
				
				// Socials
				a {
                    position: absolute;
					height: 40px;
					opacity: 0;
					transition: opacity 0.15s ease-in-out;
				}
				&:hover a { opacity: 1; }
				
				a:nth-of-type(1) {
                    top: 44%;
                    left: 84%;
                }
				a:nth-of-type(2) {
                    top: 60%;
                    left: 80%;
                }
				a:nth-of-type(3) {
                    top: 75%;
                    left: 70%;
                }
				a:nth-of-type(4) {
                    top: 84%;
                    left: 55%;
                }
			}
		}
	}
	.illustration {
		width: 100%;
		padding-top: 50px;
		margin-left: -200px;
		transform: scale(1.4);
	}
}
.background {
	position: relative;
	left: -100px;
	width: calc(100% + 200px);
	margin-bottom: 150px;
	border-radius: 50px;
	padding: 100px 100px 50px 100px;
	background-color: $brown;
	box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.2);
}
.competitions, .contact  { margin-bottom: 100px; }