// Import identity
@import "design-system/css-reset";
@import "design-system/colors";
@import "design-system/typography";

$animation_delay: 5s;
@keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}
.animation-element {
	opacity: 0;
	animation-name: opacity;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.content { padding: 100px; }
section { margin-bottom: 250px; }

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	img {
		position: absolute;
		width: 10vw;
		height: auto;
		transition: all 3s ease-in-out, width 2s cubic-bezier(.73,0,.83,.18);
	}
}

.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding: 0 80px;
	width: 100%;
	align-items: center;
	height: 100px;
	left: 0px;
	top: -100px;
	z-index: 5;
	background: $brown;
	padding-bottom: 5px;
	box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 25px 25px;
	
	transition: top 0.7s ease-out;
	&.visible { top: 0; }
    &.hidden { top: -100px; }
	
	.logo { height: 50%; }
	.links {
		display: flex; 
		p {
			@extend .font-weight-800;
			font-size: 26px;
			cursor: pointer;
			color: $text_secondary;
			margin-left: 70px;
			&:last-of-type() { margin-left: 0; }
		}	
	}
}

h1 { margin-bottom: 40px; }
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 50px;
	height: calc(100vh - 100px);
	@extend .animation-element;
	animation-delay: $animation_delay;
	p {
		font-size: 28px;
		width: 35ch;
	}
	.illustration { margin-right: -200px; }
}

.team {
	.members {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 80px 60px;
		.member {
			position: relative;
			text-align: center;
			.photo {
				border-radius: 100%;
				width: 100%;
				opacity: 0.85;
			}
			.name {
				@extend .font-weight-600;
				font-size: 32px;
			}
			.socials {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				aspect-ratio: 1;
				border-radius: 100%;
				background: linear-gradient(-45deg, rgba(0, 0, 0, 0.55) 15%, rgba(0, 0, 0, 0) 70%);
				img {
					width: 40px;
					height: 40px;
				}
				&:hover a { opacity: 1; }
				a {
                    position: absolute;
					height: 40px;
					opacity: 0;
					transition: opacity 0.15s ease-in-out;
				}
				a:nth-of-type(1) {
                    top: 44%;
                    left: 84%;
                }
				a:nth-of-type(2) {
                    top: 60%;
                    left: 80%;
                }
				a:nth-of-type(3) {
                    top: 75%;
                    left: 70%;
                }
				a:nth-of-type(4) {
                    top: 84%;
                    left: 55%;
                }
			}
		}
	}
	.illustration {
		transform: scale(1.4);
		width: 100%;
		padding-top: 50px;
		margin-left: -200px;
	}
}
.background {
	background-color: $brown;
	border-radius: 50px;
	box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	left: -100px;
	width: calc(100% + 200px);
	padding: 100px 100px 50px 100px;
	margin-bottom: 150px;
}
.infoblock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 80px;
	align-items: center;
	h2 { margin-bottom: 40px; }
	margin-bottom: 100px;
	a {
		display: inline-flex;
		align-items: center;
		column-gap: 15px;
		padding: 10px 30px;
		background: rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		margin-top: 40px;
		img { width: 40px; }
	}
}
.competitions { margin-bottom: 100px; }