// Import identity
@import "design-system/css-setup";
@import "design-system/colors";
@import "design-system/typography";

// Components
@import "components/header";
@import "components/loading";
@import "components/infoblock";

$animation_delay: 5s;
@keyframes opacity {
	from { opacity: 0; }
	to { opacity: 1; }
}
.animation-element {
	opacity: 0;
	animation-name: opacity;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.content { padding: 100px; }
@media only screen and (max-width: $breakpoint-tablet) { .content { padding: 50px; } }
@media only screen and (max-width: 480px) { .content { padding: 25px; } }

section { margin-bottom: 15vw; }

.hero {
	// Animation
	@extend .animation-element;
	animation-delay: $animation_delay;

	// Self
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 50px;
	height: calc(100vh - 100px);

	p {
		font-size: 28px;
		width: 35ch;
	}
	.illustration {
		margin-right: -200px;
		img { width: 100%; }
	}
	@media only screen and (max-width: $breakpoint-desktop-small) {
		p { font-size: 24px; }
		column-gap: 30px;
	}
	@media only screen and (max-width: $breakpoint-tablet) {
		height: calc(100vh - 50px);
		p { font-size: 20px; }
		.illustration img { width: 90%; }
	}
	@media only screen and (max-width: $breakpoint-mobile) {
		display: block;
		padding-top: 100px;
		p { width: 100%; font-size: 18px; }
		height: auto;
		.illustration {
            display: flex;
            justify-content: flex-end;
            margin: 25px -100px 0 50px;
            img { width: 80%; }
        }
	}
	
}

.team {
	.members {
		// Self
		display: grid;
		position: relative;
		grid-template-columns: repeat(3, 1fr);
		gap: 80px 5vw;

		.member {
			position: relative;
			text-align: center;
			.photo {
				border-radius: 100%;
				width: 100%;
				opacity: 0.85;
			}
			.name {
				@extend .font-weight-600;
				@extend .font-l;
			}
			.role { @extend .font-s }
			.socials {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				aspect-ratio: 1;
				border-radius: 100%;
				background: linear-gradient(-45deg, rgba(0, 0, 0, 0.55) 15%, rgba(0, 0, 0, 0) 70%);
				img {
					width: clamp(25px, 3vw, 42px);
					height: clamp(25px, 3vw, 42px);
				}
				
				// Socials
				a {
                    position: absolute;
					height: clamp(25px, 3vw, 42px);
					opacity: 0;
					transition: opacity 0.15s ease-in-out;
				}
				&:hover a { opacity: 1; }
				
				a:nth-of-type(1) {
                    top: calc(50% - clamp(12.5px, 1.5vw, 21px));
                    left: calc(90% - clamp(12.5px, 1.5vw, 21px));
                }
				a:nth-of-type(2) {
                    top: calc(66% - clamp(12.5px, 1.5vw, 21px));
                    left: calc(86% - clamp(12.5px, 1.5vw, 21px));
                }
				a:nth-of-type(3) {
                    top: calc(81% - clamp(12.5px, 1.5vw, 21px));
                    left: calc(76% - clamp(12.5px, 1.5vw, 21px));
                }
				a:nth-of-type(4) {
                    top: calc(90% - clamp(12.5px, 1.5vw, 21px));
                    left: calc(61% - clamp(12.5px, 1.5vw, 21px));
                }
				
				@media only screen and (max-width: $breakpoint-mobile) {
					img {
						width: 4.5vw;
						height: 4.5vw;
					}
					a {
						height: 4.5vw;
					}
					a:nth-of-type(1) {
						top: calc(50% - 2.25vw);
						left: calc(90% - 2.25vw);
					}
					a:nth-of-type(2) {
						top: calc(66% - 2.25vw);
						left: calc(86% - 2.25vw);
					}
					a:nth-of-type(3) {
						top: calc(81% - 2.25vw);
						left: calc(76% - 2.25vw);
					}
					a:nth-of-type(4) {
						top: calc(90% - 2.25vw);
						left: calc(61% - 2.25vw);
					}
				}
				@media only screen and (max-width: 480px) {
					a:nth-of-type(1) {
						top: calc(50% - 3vw);
						left: calc(90% - 3vw);
					}
					a:nth-of-type(2) {
						top: calc(66% - 3vw);
						left: calc(86% - 3vw);
					}
					a:nth-of-type(3) {
						top: calc(81% - 3vw);
						left: calc(76% - 3vw);
					}
					a:nth-of-type(4) {
						top: calc(90% - 3vw);
						left: calc(61% - 3vw);
					}
				}
			}
		}
		@media only screen and (max-width: $breakpoint-desktop-small) {
			gap: 60px 3vw;
		}
		@media only screen and (max-width: $breakpoint-tablet) {
			gap: 40px 2vw;
		}
		@media only screen and (max-width: $breakpoint-mobile) {
			grid-template-columns: repeat(2, 1fr);
			gap: 40px 3vw;
		}
	}
	.illustration {
		width: 100%;
		padding-top: 50px;
		margin-left: -200px;
		transform: scale(1.4);
		@media only screen and (max-width: $breakpoint-tablet) {
			margin-left: -100px;
		}
		@media only screen and (max-width: $breakpoint-mobile) {
			margin: 0;
			padding-top: 30px;
			transform: scale(1.4) translateX(10vw);
		}
	}
}
.background {
	position: relative;
	left: -100px;
	width: calc(100% + 200px);
	margin-bottom: 150px;
	border-radius: 50px;
	padding: 100px 100px 50px 100px;
	background-color: $brown;
	box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.2);
}
.competitions, .contact  { margin-bottom: 100px; }

.contact .socials {
	margin-top: 20px;
	a { margin-right: 20px;  }
}